body {
    background-image: url('./themes/base/images/login-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 99%;
}

.form-size{
    width: 40%;
}

.row{
    margin-top:20%;
}
